export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='PGSQL'
export BACKEND='PGSQL'
export VMAIL_DB_BIND_PASSWD='{{ iredmail.vmailbindpass }}'
export VMAIL_DB_ADMIN_PASSWD='{{ iredmail.vmailadminpass }}'
export PGSQL_ROOT_PASSWD='{{ iredmail.psqlrootpass }}'
export FIRST_DOMAIN='{{ domainname }}'
export DOMAIN_ADMIN_PASSWD_PLAIN='{{ iredmail.adminpass }}'
export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_SOGO='YES'
export USE_AWSTATS='YES'
export USE_FAIL2BAN='YES'
export AMAVISD_DB_PASSWD='{{ iredmail.amavisdpass }}'
export IREDADMIN_DB_PASSWD='{{ iredmail.admindbpass }}'
export RCM_DB_PASSWD='{{ iredmail.rcmdbpass }}'
export SOGO_DB_PASSWD='{{ iredmail.sogodbpass }}'
export SOGO_SIEVE_MASTER_PASSWD='{{ iredmail.sogosievepass }}'
export IREDAPD_DB_PASSWD='{{ iredmail.iredapddbpass }}'
#EOF
